Source: openmediavault-vdr
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
XB-Plugin-Section: multimedia

Package: openmediavault-vdr
Architecture: all
Depends: openmediavault (>= 3.0),
         vdr,
         w-scan,
         ${misc:Depends}
Description: VDR plugin for OpenMediaVault.
 Manage VDR (The Video Disk Recorder) from OpenmMediaVault.
